<!-- footer -->
<footer id="footer">
    <div class="flexfoot container">
        <div>
            <div id="icon1">
                <span>
                    <a class="icon2" href="#"><i class="fa fa-facebook-square"></i>
                    </a>
                </span>
                <span>
                    <a class="icon2" href="#"><i class="fa fa-instagram"></i>
                    </a>
                </span>
                <span>
                    <a class="icon2" href="#"><i class="fa fa-youtube"></i>
                    </a>
                </span>
            </div>
            <div class="icon3">
                <span>
                    <a class="icon3" href="tel:(02)2531-2333" title="聯絡電話"><i class="fa fa-phone"></i>(02)2531-2333
                    </a>
                </span>

            </div>
        </div>
        <div class="logo">雅晴芳香診療</div>
    </div>

    <hr class="container">
    <div class="container last">
        <div>地址:台北市中山區中山北路二段2號11樓</div>
        <div>© 2020 雅晴芳香診療 . All Rights Reserved.</div>
    </div>

</footer>
<!-- footer end -->