<div class="delete">
    <div class="container">
        <h1>取消預約</h1>
        <hr>
        <form action="/schedule/deleteschedule" method="post" class="form-group">
            <div class="input">
                <label for="id">請輸入預約編號:</label>
                <input type="text" id="id" name="id" class="form-control">
            </div>
            <p></p>
            <button type="submit" class="btn btn-success">取消預約</button>
        </form>
    </div>
</div>