<section class="delete">
    <h3>Delete Data</h3>
    <form action="/schedule/deleteschedule" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>