<!-- section1 -->
<section id="section1" class="container">
    <h1 class="new">最新消息</h1>
    <div class="row">
        <div class="text-center col-lg-6 col-12  new1"><a href="#" id="new2"><img class="w-100"
                    src="https://i.postimg.cc/856RXCnC/scroll.jpg">
                全新引進!頂級峇厘島精油按摩</a></div>

        <div class="text-center col-lg-6 col-12 new1 "><a href="#" id="new2"><img class="w-100"
                    src="https://i.postimg.cc/vT5vTmWK/oil-4947709-1280.jpg">有機天然精油使用</a>
        </div>
    </div>
</section>
<p></p>
<!-- section1 end -->

<div id='status' class='invisible'>{{message}}</div>


<!-- section2 -->
<section id="section2">
    <hr class="container">
    <div class="container py-5">
        <h1 class="advice">服務項目</h1>
        <p>最齊全的芳香按摩，最專業的芳香療法</p>
        <img class="w-100" src="https://i.postimg.cc/L8x3nw1m/section2img1.jpg">
        <p></p>
        <div class="row">
            <div class=" col-lg-6 col-6 ">
                <h3 class="h33">十大系統精油全身淋巴按摩</h3>
                <hr>
                <p>最經典的放鬆課程，精油審慎嚴選於地球之中最純淨的成分，讓您充分享受透過精油、純露、植物油等商品帶來的純粹美好，再藉由專業的美容師手技深層按摩釋放壓力，讓身心靈全面放鬆舒緩，讓您擁有如沐春風的舒適感受。
                </p>
                <button type="button" class="btn btn-outline-success">了解更多</button>
            </div>
            <div class="text-center col-lg-6 col-6 "><img class="w-100"
                    src="https://i.postimg.cc/zX1jMnNY/physiotherapy-567021-1280.jpg">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="text-center col-lg-6 col-6 "><img class="w-100"
                    src="https://i.postimg.cc/ZqqjH4S9/massage-1929064-1280.jpg">
            </div>
            <div class=" col-lg-6 col-6">
                <h3 class="h33">紫錐菊黑茴香美肌護理</h3>
                <hr>
                <p>本系列能延緩肌膚老化現象，並使皮膚更加強韌，提升對外在有害因素的防禦能力及季節轉換時產生的負擔。所有肌膚類型皆適用，且特別適合肌膚容易乾燥缺水的顧客。
                </p>
                <button type="button" class="btn btn-outline-success">了解更多</button>
            </div>
        </div>

</section>
<!-- section2 end -->
<!-- section3 -->
<section id="section3">
    <hr class="container">
    <div class="  py-5 section3">
        <h1 class="chose container ">精選好物</h1>
        <p></p>
        <div id="content" class="container">
            <div class="changeway ">
                <a href="javascript:;" id="prev"><i style="font-size: 50px;" class='fas fa-arrow-circle-left'></i>
                </a>
                <div class="thing">
                    <img src="" alt="" id="img1" class="w-100">
                    <p id="shop1"></p>
                    <a href="/shop"><button type="button" class="btn btn-outline-success">立即選購</button></a>
                </div>
                <div class="thing">
                    <img src="" alt="" id="img2" class="w-100">
                    <p id="shop2"></p>
                    <a href="/shop"><button type="button" class="btn btn-outline-success">立即選購</button></a>
                </div>
                <div class="thing">
                    <img src="" alt="" id="img3" class="w-100">
                    <p id="shop3"></p>
                    <a href="/shop"><button type="button" class="btn btn-outline-success">立即選購</button></a>
                </div>
                <div class="thing">
                    <img src="" alt="" id="img4" class="w-100">
                    <p id="shop4"></p>
                    <a href="/shop"><button type="button" class="btn btn-outline-success">立即選購</button></a>
                </div>
                <a href="javascript:;" id="next"><i style="font-size: 50px;" class='fas fa-arrow-circle-right'></i></a>
            </div>
            <div id="change" class="container">
            </div>
        </div>
    </div>

</section>
<!-- section3 end -->

<!-- section4 -->
<section id="section4">
    <hr class="container">
    <h1 class="container surround1">最舒適的環境</h1>
    <div class="container" style="width: 50%;">
        <div class="carousel slide" data-ride="carousel" id="carousel-demo">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="https://i.postimg.cc/pXD0XsCd/footer1.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.postimg.cc/wTKfpChP/footer2.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.postimg.cc/NjBdyRCk/footer3.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="https://i.postimg.cc/t4k2F7LQ/footer4.jpg">
                </div>

                <a href="#carousel-demo" class="carousel-control-prev" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#carousel-demo" class="carousel-control-next" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<div class="footfix"></div>
<!-- section4 end -->

<!-- bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>


<script>
    if ($('div#status').text() != '') {
        alert($('div#status').text());
    }
</script>




<script>


    window.onload = function () {
        var prev = document.getElementById('prev');
        var next = document.getElementById('next');
        var img1 = document.getElementById('img1');
        var img2 = document.getElementById('img2');
        var img3 = document.getElementById('img3');
        var img4 = document.getElementById('img4');
        var word1 = document.getElementById('shop1');
        var word2 = document.getElementById('shop2');
        var word3 = document.getElementById('shop3');
        var word4 = document.getElementById('shop4');



        var arrUrl1 = [
            {
                id: '1',
                title: '白千層芳療精油-10ML',
                img: 'https://i.postimg.cc/YC0jF2Y0/cajeput.jpg',
            },
            {
                id: '2',
                title: '薰衣草芳療精油-10ML',
                img: 'https://i.postimg.cc/Ls0D0w9x/lavnder.jpg',
            },
            {
                id: '3',
                title: '紅桔芳療精油-10ML',
                img: 'https://i.postimg.cc/rpzCWj1x/tangerine.jpg',
            },
            {
                id: '4',
                title: '茶樹芳療精油-10ML',
                img: 'https://i.postimg.cc/Ls7kVPD7/teatree.jpg',
            },
            {
                id: '5',
                title: '隨身精油滾珠棒-9ML',
                img: 'https://i.postimg.cc/kXfBDRVL/lemograss.jpg',
            },
            {
                id: '6',
                title: '蘆薈保濕水乳液50g',
                img: 'https://i.postimg.cc/0y4j0g0f/aloeface.jpg',
            },
            {
                id: '7',
                title: '澳洲蘆薈膠-100ML',
                img: 'https://i.postimg.cc/NfgKgk01/aloeveragel.jpg',
            },
            {
                id: '8',
                title: '檀香精油純露-200ML',
                img: 'https://i.postimg.cc/VNgn17jb/sandalwood.jpg',
            },

        ];

        var num = 0;
        var num1 = 1;
        var num2 = 2;
        var num3 = 3;
        // 初始化显示内容
        function fnTab() {//重复的代码要用函数包起来

            img1.src = arrUrl1[num].img;
            img2.src = arrUrl1[num1].img;
            img3.src = arrUrl1[num2].img;
            img4.src = arrUrl1[num3].img;
            word1.innerHTML = arrUrl1[num].title;
            word2.innerHTML = arrUrl1[num1].title;
            word3.innerHTML = arrUrl1[num2].title;
            word4.innerHTML = arrUrl1[num3].title;



        }
        fnTab();//调用函数，fnTab()代表执行函数里面的三行代码

        next.onclick = function () {
            num++;
            if (num == arrUrl1.length) {
                num = 0;
            }
            num1++;
            if (num1 == arrUrl1.length) {
                num1 = 0;
            }
            num2++;
            if (num2 == arrUrl1.length) {
                num2 = 0;
            }
            num3++;
            if (num3 == arrUrl1.length) {
                num3 = 0;
            }

            fnTab();// 然后相应加载的内容进行变动
        }


        prev.onclick = function () {
            num--;
            if (num == -1) {
                num = arrUrl1.length - 1;
            }
            num1--;
            if (num1 == -1) {
                num1 = arrUrl1.length - 1;
            }
            num2--;
            if (num2 == -1) {
                num2 = arrUrl1.length - 1;
            }
            num3--;
            if (num3 == -1) {
                num3 = arrUrl1.length - 1;
            }

            fnTab();
        }
    }

</script>