.btn-success {
    color: #fff;
    background-color: #6CAC92;
    border-color:#6CAC92;
  }
.btn-success:hover, .btn-success:focus, .btn-success:active:hover{
    
    color:#6CAC92;
    background-color: #fff;
    border-color: #6CAC92;
  }