<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle">
                <h3>全新峇厘島按摩技術</h3>
            </div>
            <div>2020-01-03</div>
            <div class="row container">
                <img src="https://i.postimg.cc/Px2sRrXH/bali2.jpg" alt="按摩">
                <p>峇里式按摩融合中國、印度與東南亞各地的傳統療法，發展出峇里特有的按摩手法。按摩人員會用雙手滾動、拍打跟推拿來刺激肌肉，促進血液循環。徒手療法通常會搭配精油等芳香療法，還有指壓與足部按摩。換言之，峇里式按摩可說是一種顧及全身的全面療法，能助人活力充沛、青春煥發。
                </p>
                <p>以去角質為主，進行肌膚保養，峇里島式按摩，力道較強Traditional傳統式按摩類似。</p>
                <img src="https://i.postimg.cc/HnNQ35Fy/bali1.jpg" alt="">
                <p>去角質，香料較刺激使用薑、黃薑、丁香肉桂、豆蔻等辛香料的粉末</p>
                <img src="https://i.postimg.cc/DfjX3rmV/bali5.jpg" alt="">
                <p>享受道地峇厘島按摩，就趕快來雅晴芳香診療吧!</p>

            </div>


        </div>

    </div>
</div>