<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle">
                <h3>壽星專屬優惠</h3>
            </div>
            <div>2019-04-23</div>
            <div class="row container">
                <img src="https://i.postimg.cc/QCN6HxNV/birth1.jpg" alt="按摩">
                <p>歡慶生日!當月壽星，兩人以上，全體皆享9優惠</p>
                <img src="https://i.postimg.cc/B6BYS10d/birth2.jpg" alt="">
                <p>三五好友，一同慶生，舒適一同分享~讓雅晴芳香診療給您最舒適的生日!</p>

            </div>


        </div>

    </div>
</div>