<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle">
                <h3>團體放鬆優惠</h3>
            </div>
            <div>2019-02-23</div>
            <div class="row container">
                <img src="https://i.postimg.cc/DZ9HCbTD/group2.jpg" alt="按摩">
                <p>每次活動都是聚餐，你累了嗎？換一種方式，歡樂加倍、效率加倍！</p>
                <img src="https://i.postimg.cc/Ss2H7fwC/group1.jpg" alt="">
                <p>福委會、部門活動、team building、尾牙、慶生....超過15人以上舒壓按摩，團體優惠請與我們聯絡。</p>

            </div>


        </div>

    </div>
</div>