<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle card-header orderhead">
                <h3>紫錐菊黑茴香美肌護理</h3>
            </div>
            <div class="row container">

                <p>課程介紹 - 60分鐘/ NT. 2,600元 / 新客優惠價 1,280元(此價格為本國人優惠)
                </p>
                <p>護理特色:<br>
                    本系列能延緩肌膚老化現象，並使皮膚更加強韌，提升對外在有害因素的防禦能力及季節轉換時產生的負擔。
                </p>
                <p>適用對象:<br>
                    季節轉換之際，肌膚需要特殊專業護理協助它適應及維持正常生理機能。所有肌膚類型皆適用，且特別適合肌膚容易乾燥缺水的顧客。
                </p>
                <p>活性成分:<br>

                    選用100％天然或有機的活性成分。不使用動物性蛋白、礦物油、 丙二醇、十二甲烷基硫酸鈉、肉桂醇聚醚硫酸鈉、肉桂酸硫酸鈉、矽氧樹脂、對羥基苯甲酸、甲醛供體及衍生唑啉酮(甲醛衍生物)。</p>
                <p>
                    echinacea 紫錐菊
                    紫錐菊廣泛地運用在草本療法的植物，可有效延緩肌膚老化。我們使用不含溶劑萃取方法，以保存其純淨與高度活性，保護它不受污染與修復外部造成的傷害。
                    black cumin 黑茴香
                    黑茴香含有能對抗發炎、氧化、與微生物滋生的成分。富含精純脂肪酸和植物固醇，滋養並保護皮膚免於外在刺激而導致的老化現象，讓肌膚維持保濕滋潤。

                </p>
                <img src="https://i.postimg.cc/KjSfkkd7/masa2.jpg" alt="">
                <p>當天預約請勿填單，請撥現場電話洽詢→<span>
                        <a class="call" href="tel:(02)2531-2333" title="聯絡電話"><i class="fa fa-phone"></i>(02)2531-2333
                        </a>
                    </span></p>

            </div>


        </div>

    </div>
</div>