<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle card-header orderhead">
                <h3>十大系統精油全身淋巴按摩</h3>
            </div>
            <div class="row container">
                <p>課程介紹 - 90分鐘/ NT. 2,600元 / 新客優惠價 1,580元
                </p>
                <p>最經典的放鬆課程，課程中使用精油擁有全世界有機化妝品獨立機構認證，通過澳洲ACO與美國USDA有機認證，讓本店消費者一起可享用到產品，精油審慎嚴選於地球之中最純淨的成分，讓您充分享受透過精油、純露、植物油等商品帶來的純粹美好，再藉由專業的美容師手技深層按摩釋放壓力，大面積的按摩肌群、筋膜，在鬆、撥、推、拿、放之間並能同時舒緩僵硬酸痛的部位，讓身心靈全面放鬆舒緩，讓您擁有如沐春風的舒適感受。
                </p>
                <p>服務流程：<br>

                    花草養生迎賓茶 → 產品特色說明及諮詢 → 香氛沐浴 → 專屬客製精油 → 背部舒緩鬆筋 → 全身深度淋巴精油SPA → 頭部放鬆舒壓 → 休憩飲茶。</p>
                <img src="https://i.postimg.cc/d1TnVmSt/masa1.jpg" alt="">
                <p>當天預約請勿填單，請撥現場電話洽詢→<span>
                        <a class="call" href="tel:(02)2531-2333" title="聯絡電話"><i class="fa fa-phone"></i>(02)2531-2333
                        </a>
                    </span></p>

            </div>


        </div>

    </div>
</div>