<div class="container">
    <div class="newstitle">
        最新消息
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/mk6w9qYY/news1.jpg" class="card-img-top" alt="峇厘島精油">
            <div class="card-body">
                <h5 class="card-title">全新技術</h5>
                <p class="card-text">雅晴芳香診療室，全新引進技術，峇厘島式磨砂精油按摩。</p>
                <a href="/reservation/bali" class="btn btn-outline-success">詳情</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/CMvJ9Z3R/news2.jpg" class="card-img-top" alt="天然精油">
            <div class="card-body">
                <h5 class="card-title">純天然精油</h5>
                <p class="card-text">嚴選天然無添加，精油按摩，帶給你最天然的享受</p>
                <a href="/reservation/oil" class="btn btn-outline-success">詳情</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/Rh0dN9HC/birth.jpg" class="card-img-top" alt="生日優惠">
            <div class="card-body">
                <h5 class="card-title">壽星專屬優惠</h5>
                <p class="card-text">當月壽星，專屬優惠，只屬於你!給自己最舒適的生日禮物</p>
                <a href="/reservation/birth" class="btn btn-outline-success">詳情</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.postimg.cc/pXpkvWvq/group.jpg" class="card-img-top" alt="團購">
            <div class="card-body">
                <h5 class="card-title">團購優惠</h5>
                <p class="card-text">三五好友一起揪，放鬆紓壓一起來!</p>
                <a href="/reservation/group" class="btn btn-outline-success">詳情</a>
            </div>
        </div>
    </div>

</div>