<div class="container">
    <div class="card border-success ">
        <div class="card-body">
            <div class="balititle">
                <h3>純天然無添加精油使用</h3>
            </div>
            <div>2019-10-03</div>
            <div class="row container">
                <img src="https://i.postimg.cc/50vPj8Np/oil2.jpg" alt="按摩">
                <p>雅晴芳香診療選用"BODY TEMPLE"的精油，澳洲有機認證與天然芳療原料共應商領導品牌。提供高品質精油.按摩油.植物基底油與純露等等。
                </p>
                <p>所有精油均經澳大利亞GC/MS(氣相層析質分析儀)檢驗通過。</p>
                <img src="https://i.postimg.cc/QCqZ92x6/bali3.jpg" alt="">
                <p>有機精油(Organic Essential Oil)產品與設備均符合生物農夫協會(AOS)所發布的澳大利亞有機標準(BFA)，並通過澳洲ACO與美國USDA有機認證</p>
                <img src="https://i.postimg.cc/8s8wGcV9/bali6.jpg" alt="">
                <p>對肌膚最呵護的嚴選精油，就由雅晴芳療室為您把關挑選!</p>

            </div>


        </div>

    </div>
</div>